<section class="about section-offset" id="about">
  <div class="container">
    <h2 class="visually-hidden">About RoboSchool</h2>
    <p class="about__descr">
      <span class="about__descr-highlight">Robo School</span> – an institution for the formation of personnel pedagogics
      reserve in the field of robotics and
      programming
    </p>
    <ul class="list-reset about__list">
      <li class="about__item">
        <div class="about__digit">10</div>
        <p class="about__text">Сourses in various fields of robotics</p>
      </li>
      <li class="about__item">
        <div class="about__digit">20</div>
        <p class="about__text">Schools in which robotics is launched</p>
      </li>
      <li class="about__item">
        <div class="about__digit">100</div>
        <p class="about__text">Teachers who have completed professional development courses</p>
      </li>
      <li class="about__item">
        <div class="about__digit">10 000</div>
        <p class="about__text">Trained children on the basis of their own centers</p>
      </li>
    </ul>
  </div>
</section>
