<section class="benefits section-offset">
  <div class="container">
    <h2 class="benefits__title section-title">What will you get after the course?</h2>
    <ul class="list-reset benefits__list">
      <li class="benefits__item">
        <h3 class="benefits__subtitle">Сertificate</h3>
        <p class="benefits__descr">
          Giving the right to teach robotics for children aged 6-12 in educational institutions
        </p>
      </li>
      <li class="benefits__item">
        <h3 class="benefits__subtitle">Knowledge</h3>
        <p class="benefits__descr">
          On the basics of the development of educational and methodological complexes
           in robotics and programming
        </p>
      </li>
      <li class="benefits__item">
        <h3 class="benefits__subtitle">
          Practice
          <span class="tooltip">
            <button class="btn-reset tooltip__btn" aria-describedby="id1">
              <svg class="">
                <use xlink:href="img/sprite.svg#tultip"></use>
              </svg>
            </button>
            <span class="tooltip__txt" role="tooltip" id="id1">
              <span class="visually-hidden">Tultip </span>
              Subject to availability
            </span>
          </span>
        </h3>
        <p class="benefits__descr">
          Opportunity to practice teaching robotics based on R:ED LAB (offline or online format)
        </p>
      </li>
    </ul>
  </div>
</section>
