<div class="graph-modal">
  <div class="graph-modal__container popup" role="dialog" aria-modal="true" data-graph-target="trainer-1">
    <div class="graph-modal__content">
      <div class="popup__top">
        <div class="popup__image">
          <picture>
            <source srcset="img/popup-1.avif" type="image/avif">
            <source srcset="img/popup-1.webp" type="image/webp">
            <img loading="lazy" src="img/popup-1.jpg" class="image" width="160" height="222" alt="Марина Орлова">
          </picture>
        </div>
        <div class="popup__info">
          <div class="popup__name">Marina Orlova</div>
          <div class="popup__post">robotics teacher</div>
          <ul class="list-reset social">
            <li class="social__item">
              <a href="#" target="_blank" class="social__link">
                <svg class="">
                  <use xlink:href="img/sprite.svg#fb"></use>
                </svg>
              </a>
            </li>
            <li class="social__item">
              <a href="#" target="_blank" class="social__link">
                <svg class="">
                  <use xlink:href="img/sprite.svg#in"></use>
                </svg>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="popup__bottom">
        <div class="tabs" data-tabs="popup">
          <div class="tabs__menu">
            <ul class="list-reset tabs__nav">
              <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn" type="button">Education</button></li>
              <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn" type="button">Work experience</button></li>
              <li class="tabs__nav-item"><button class="btn-reset tabs__nav-btn" type="button">Awards</button></li>
            </ul>
          </div>
          <div class="tabs__content">
            <div class="tabs__panel">
              <div class="popup__bottom-content" data-simplebar>
                <div class="popup__descr">
                  <p class="popup__text">September 1995 - June 2000</p>
                  <p class="popup__text"> Polytechnic University of Kyiv</p>
                  <p class="popup__text">Faculty: Computer Science and Technology</p>
                  <p class="popup__text">Specialty: Mathematics and Computer Science</p>
                  <p class="popup__text">Full-time form of education</p>
                </div>
                <div class="popup__content">
                  <h3 class="popup__subtitle">Courses and trainings</h3>
                  <p class="popup__text">September 1995 - June 2000</p>
                  <p class="popup__text"> Polytechnic University of Kyiv</p>
                  <p class="popup__text">Faculty: Computer Science and Technology</p>
                  <p class="popup__text">Specialty: Mathematics and Computer Science</p>
                  <p class="popup__text">Full-time form of education</p>
                </div>
              </div>
            </div>
            <div class="tabs__panel">
              <div class="popup__bottom-content" data-simplebar>
                <div class="popup__descr">
                  <p class="popup__text">September 1997 - June 2001</p>
                  <p class="popup__text">Polytechnic University of Kyiv</p>
                  <p class="popup__text">Faculty: Computer Science and Technology</p>
                  <p class="popup__text">Specialty: Mathematics and Computer Science</p>
                  <p class="popup__text">Full-time form of education</p>
                </div>
                <div class="popup__content">
                  <h3 class="popup__subtitle">Courses and trainings</h3>
                  <p class="popup__text">September 1997 - June 2001</p>
                  <p class="popup__text">Polytechnic University of Kyiv</p>
                  <p class="popup__text">Faculty: Computer Science and Technology</p>
                  <p class="popup__text">Specialty: Mathematics and Computer Science</p>
                  <p class="popup__text">Full-time form of education</p>
                </div>
              </div>
            </div>
            <div class="tabs__panel">
              <div class="popup__bottom-content" data-simplebar>
                <div class="popup__descr">
                  <p class="popup__text">September 1997 - June 2001</p>
                  <p class="popup__text">Polytechnic University of Kyiv</p>
                  <p class="popup__text">Faculty: Computer Science and Technology</p>
                  <p class="popup__text">Specialty: Mathematics and Computer Science</p>
                  <p class="popup__text">Full-time form of education</p>
                </div>
                <div class="popup__content">
                  <h3 class="popup__subtitle">Courses and trainings</h3>
                  <p class="popup__text">September 1997 - June 2001</p>
                  <p class="popup__text">Polytechnic University of Kyiv</p>
                  <p class="popup__text">Faculty: Computer Science and Technology</p>
                  <p class="popup__text">Specialty: Mathematics and Computer Science</p>
                  <p class="popup__text">Full-time form of education</p>
                </div>
                <div class="popup__content">
                  <h3 class="popup__subtitle">Courses and trainings</h3>
                  <p class="popup__text">September 1997 - June 2001</p>
                  <p class="popup__text">Polytechnic University of Kyiv</p>
                  <p class="popup__text">Faculty: Computer Science and Technology</p>
                  <p class="popup__text">Specialty: Mathematics and Computer Science</p>
                  <p class="popup__text">Full-time form of education</p>
                </div>
                <div class="popup__content">
                  <h3 class="popup__subtitle">Courses and trainings</h3>
                  <p class="popup__text">September 1997 - June 2001</p>
                  <p class="popup__text">Polytechnic University of Kyiv</p>
                  <p class="popup__text">Faculty: Computer Science and Technology</p>
                  <p class="popup__text">Specialty: Mathematics and Computer Science</p>
                  <p class="popup__text">Full-time form of education</p>
                </div>
                <div class="popup__content">
                  <h3 class="popup__subtitle">Courses and trainings</h3>
                  <p class="popup__text">September 1997 - June 2001</p>
                  <p class="popup__text">Polytechnic University of Kyiv</p>
                  <p class="popup__text">Faculty: Computer Science and Technology</p>
                  <p class="popup__text">Specialty: Mathematics and Computer Science</p>
                  <p class="popup__text">Full-time form of education</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
